body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.container .text {
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Merriweather;
}

.container .text2 {
    color: orange;
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 72px;
    text-align: center;
    font-family: Merriweather;
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px 609px 0px 609px;
}

.our {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

.all {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

.second-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.welcome-img {
    background-image: url('/resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 98px;
}

.welcome-img .welcome {
    color: white;
    position: absolute;
    top: 5%;
    left: 10%;
    font-family: Merriweather;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-img .welcome-description {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 10%;
}

.join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    top: 80%;
    left: 10%;
}

.group {
    position: absolute;
    top: 20%;
    left: 70%;
}

/* gradient section */
.gradient-container .red-black {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    left: 50%;
}

.gradient-img {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
}

.place {
    align-items: center;
    text-align: center;
    margin-left: 385px;
    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.red {
    color: #F00;
}

.join-now {
    border: 0px;
    display: block;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    position: absolute;
    margin-left: 650px;
    margin-top: 300px;
}

.coming-description {
    align-items: center;
    margin-right: 500px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.new {
    padding: 30px 30px 30px 150px;
    margin-top: 120px;
    display: flex;
}

.best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coming {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.coming-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px
}

.circle {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    position: absolute;
    right: 30%;
    margin-top: -326.5px;
}

.back {
    position: absolute;
    left: 75%;
    bottom: -255%;
}

.inner-image {
    position: absolute;
    right: 30%;
    top: 20%;
    width: 364px;
    height: 364px;
}

.function {
    padding: 30px 30px 30px 150px;
    margin-top: 120px;
    display: center;
    text-align: center;
}

.what {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 170px;
}

.holiday {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
}

.holiday-speech {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 28px;

}

.span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.red-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: 230px;
    margin-top: 600px;
}

.box {
    display: block;
    margin-left: 200px;
    margin-top: -650px;
}

.women {
    display: block;
    margin-left: 1175px;
    margin-top: -676px;
    width: 429px;
    height: 433px;
}

.circle-two {
    width: 220px;
    height: 220px;
    border-radius: 463px;
    border: 15px solid white;
    position: absolute;
    right: 30%;
    margin-top: -300px;
}

.discount {
    position: absolute;
    right: 28.5%;
    margin-top: -326.5px;
}

.best-gift {
    margin-top: 400px;
    margin-left: 260px;
}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.awe {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;

}

.intro {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: -20px;
}

.bag {
    width: 424px;
    height: 450px;
}

.black-bag {
    width: 424px;
    height: 450px;
    margin-left: 40px;
}

.shoe {
    width: 424px;
    height: 450px;
    margin-left: 40px;
}

.white-shoe {
    width: 424px;
    height: 450px;
    margin-left: 40px;
    margin-top: 24px;
}

.churi {
    width: 424px;
    height: 450px;
    margin-left: 40px;
}

.second-gradient {
    background-color: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.email {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -550px;
}

.news-letter {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}

.news-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: -20px;
}

.button-rec {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    text-align: center;
    align-items: center;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.red-button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    display: flex;
    margin-right: auto;
    margin-left: 1200px;
    margin-top: -90px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.footer {
    background-color: #070211;
    width: 100%;
    height: 609px;
    margin-top: 200px;
}

.big {
    color: white;
    display: block;
    margin-left: 200px;
    margin-top: -500px;
    /* text-align: left; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.number {
    color: white;
    margin-left: 1500px;
    margin-top: -100px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    
    

}